body{
	background-color: black;
	padding-left: 2em;
	padding-right: 2em;
	font-family: Tahoma, Geneva, sans-serif;

}
img{
	display: block;
	border-radius: 50%;
	margin-left:auto;
	margin-right: auto;
	width: 18%;
	height: 18%;
	border: 3px solid white;
}

.index h1{
	color: white;
	text-align: center; 
}
