body{
	background-color: white;
	padding-left: 2em;
	padding-right: 2em;
	font-family: 'Nanum Gothic', sans-serif;
	color:black;
	margin-top: 100px;
	margin-bottom: 100px;

}

img{
	margin-top: 10px;
	display: block;
	border-radius: 50%;
	margin-left:auto;
	margin-right: auto;
	width: 16%;
	height: 16%;
	border: 1px solid black;
	padding:4px;
}

img:hover{
	opacity: 50%;
}

.avatar:hover{
	opacity: 50%;
}

.name{
	color: black;
	text-align: center;
	font-size: 40px;
	margin-bottom: 5px; 
	margin-top: 10px;
	font-weight: lighter;
	font-family: 'Oswald', sans-serif;


}
.name:hover{
	color:#4AFFED;
}

.summary {
	color:black;
	text-align: center;
	border-bottom: 1px solid black;
	margin-top:0px;
	margin-bottom: 10px;
	margin-left: 240px;
	margin-right: 240px;
	padding-bottom: 15px;
}

nav{
	text-align:center;
	color:black;
	margin-left: 240px;
	margin-right: 240px;
	border-bottom: 1px solid black;
}

nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	display:inline-block;

}

nav li{
	float: left;
}

nav li a{
	display:block;
	color:black;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
}

nav li a:hover{
	background-color:#4AFFED;
}

.fa{
  padding: 10px;
  font-size: 29px;
  width: 29px;
  display: inline-block;
  text-align: center;
  text-decoration: none;

}

.fa:hover{
	background-color:#4AFFED ;
}


.links{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 5px;
}

h1{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-weight: lighter;
	font-size: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 0px;
}


h3{
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid black;
	margin-right: 240px;
	margin-left: 240px;
	padding-top: 0px;
}

.resumelinks{
	padding: 0px;
	text-align:center;
}
.resumelinks fa{
	padding-bottom: 0px;
}